@import "tailwindcss";

@theme {
  --color-background: #0B0E14;
  --color-foreground: #e2e8f0;
  --color-primary: #0067AC;
  --color-accent: #00FFD1;
  --color-card: #111827;
  --color-card-border: #1f2937;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
